.menu-button {
    display: inline-block;
    padding: 12px 28px 12px 12px;
    border-radius: 50px;
    transition-duration: 0.2s;
    margin: 0 0 8px 0;
    background-color: rgb(0, 0, 0);
    & button {
        background-color: rgba(217, 217, 217, 0);
    }
    & div {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        color: rgb(217, 217, 217);
    }
    &:hover {
        transition-duration: 0.2s;
        background-color: rgba(217, 217, 217, 0.1);
        & button {
            background-color: rgba(217, 217, 217, 0);
        }
    }
    &:nth-child(1) {
        margin: 2px 0 8px 0;
        padding: 12px;
        &:hover {
            transition-duration: 0.2s;
            background-color: rgba(29, 155, 240, 0.1);
        }
        & svg {
            width: 33px;
            height: 28px;
            margin: 0;
        }
    }
    & svg {
        margin: 0 15px 0 0;
        width: 26.25px;
        height: 26.25px;
        fill: rgb(217, 217, 217);
    }
}
